:root {
    --primary-bg: #f4f4f9;
    --text-color: #333;
    --accent-color: #4a90e2;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    margin: 0;
    background-color: #f5f4f4;
    width: 100%;
}


   #mensaje-bienvenida {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #0c2f8f;
            color: white;
            padding: 20px;
            border-radius: 10px;
            font-size: 24px;
            z-index: 1000;
        }
header {
    text-align: center;
    padding: 2rem;
    height: 20vh;
    border-bottom: 1px solid rgb(223, 222, 222);
    padding-bottom: 70px;
    width: 95%;
}

header > h1{
     font-size: 50px;
  background-image: linear-gradient(to right, #f4e784, #f24389, #a478f1);
  display: inline-block;
  background-clip: text;
  color: transparent;
}
header > p {
    font-weight: 800;
    color:rgb(110, 110, 110)
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
}
footer{
    display: flex;
    justify-content: center;
    height: 10vh;
}
.controls {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Render dinámico mediante Grid */
.palette-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    width: 90%;
    max-width: 90%;
}

.color-card {
    background: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s; /* Animación sutil [3] */
}

.color-card:hover {
    transform: scale(1.1);
    border: 1px solid grey;
    border-radius: 5px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
}

.color-box {
    height: 150px;
    margin-bottom: 10px;
    cursor: pointer;
}
#generate-btn{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid blue;
    color: blue;
    font-weight: 600;
}
#generate-btn:hover{
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
}
/* Estilo para accesibilidad: Foco visible [3] */
button:focus, select:focus {
    outline: 3px solid var(--accent-color);
}
select{
    border-radius: 5px;
    outline: none;
    border: none;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
}
select:hover{
    cursor: pointer;
}
select:focus{
    background-color: rgb(231, 231, 247);
    border-radius: 5px;
    font-weight: 500;
}
#toast {
    position: fixed;
    bottom: 20px;
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.color-value{
    font-size: 13px;
}
.hidden { display: none; }