*, ::after, ::before{
box-sizing: border-box;
padding: 0;
margin: 0;
}
/*Header de la app Paletix*/
header{
border: 1px black solid;
width: 100%;
height: 10vh;
}

.navBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .box-option{
width: 50%;
margin-left: 20px;
 }
 .title{display: flex;
    justify-content: center;
    padding: 8px;
    width: 20%;
 }
 .list-option{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
 }
 li > button {
    background-color: white;
    border: 0;
 }
/* Cuerpo de la pagina, funcionalidad principal */
main{
border: 1px black solid;
height: 80vh;
}
/*Footer de la app, contacto y sitios webs para contactar a los creadores*/
footer{
border: 1px black solid;
height: 10vh;
width: 100%;
}

.box-container-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}